 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 646px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 108px 728px 0 31px;
}

.u-section-1 .u-image-1 {
  width: 41px;
  height: 41px;
  margin: -48px auto 0 349px;
}

.u-section-1 .u-rotation-parent-1 {
  animation-timing-function: ease;
  width: 320px;
  height: 339px;
  margin: -40px 75px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 319px;
  height: 298px;
  transform-origin: center center;
  --radius: 30px;
  transform: translateX(-50%) translateY(-50%) rotate(94deg);
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: -291px 509px 0 38px;
}

.u-section-1 .u-image-3 {
  width: 45px;
  height: 45px;
  margin: 22px auto 0 94px;
}

.u-section-1 .u-image-4 {
  width: 45px;
  height: 45px;
  margin: -45px auto 0 157px;
}

.u-section-1 .u-image-5 {
  width: 45px;
  height: 45px;
  margin: -45px auto 0 31px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  margin: 27px auto 0 31px;
  padding: 7px 30px 8px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  margin: -45px auto 0 223px;
  padding: 7px 30px 8px;
}

.u-section-1 .u-rotation-parent-2 {
  animation-timing-function: ease;
  width: 59px;
  height: 59px;
  margin: 38px auto 0;
}

.u-section-1 .u-shape-1 {
  width: 59px;
  height: 59px;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) rotate(90deg);
}

.u-section-1 .u-line-1 {
  width: 912px;
  margin: 9px auto 40px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 145px;
    margin-right: 559px;
    margin-left: 0;
  }

  .u-section-1 .u-rotation-parent-1 {
    height: 340px;
    margin-top: -42px;
  }

  .u-section-1 .u-image-2 {
    width: 320px;
    height: 299px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -293px;
    margin-right: 347px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 23px;
  }

  .u-section-1 .u-rotation-parent-2 {
    margin-top: -20px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 17px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 339px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 127px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-right: 159px;
  }

  .u-section-1 .u-rotation-parent-1 {
    margin-top: -10px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-top: -325px;
    margin-right: 0;
  }

  .u-section-1 .u-rotation-parent-2 {
    margin-top: -138px;
  }

  .u-section-1 .u-line-1 {
    width: 540px;
    margin-top: 91px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-top: 119px;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-left: 299px;
  }

  .u-section-1 .u-rotation-parent-1 {
    margin-right: 20px;
  }

  .u-section-1 .u-rotation-parent-2 {
    margin-top: -20px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
    margin-top: 17px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 478px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.25rem;
  width: 269px;
  margin: 29px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  width: 137px;
  margin: -3px auto 0;
}

.u-section-2 .u-group-1 {
  width: 650px;
  height: auto;
  --radius: 15px;
  min-height: 228px;
  margin: 27px auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 21px 18px;
}

.u-section-2 .u-rotation-parent-1 {
  animation-timing-function: ease;
  width: 160px;
  height: 160px;
  margin: 13px auto 0 55px;
}

.u-section-2 .u-image-1 {
  width: 160px;
  height: 160px;
  transform-origin: center center;
  --radius: 15px;
  transform: translateX(-50%) translateY(-50%) rotate(90deg);
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -151px 13px 0 244px;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  margin: 10px 13px 0 246px;
}

.u-section-2 .u-text-5 {
  font-size: 1.125rem;
  margin: 5px 13px 0 246px;
}

.u-section-2 .u-text-6 {
  font-size: 1.125rem;
  margin: 5px 13px 0 246px;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  --radius: 15px;
  font-size: 0.875rem;
  margin: 15px 186px 0 auto;
  padding: 1px 36px 2px 35px;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  --radius: 15px;
  margin: 43px auto 42px;
  padding: 7px 30px 8px;
}

.u-section-2 .u-icon-1 {
  margin-left: 4px;
  vertical-align: 0px;
  font-size: 1.0626em;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-image-1 {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 163px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 165px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
    margin-left: 165px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
    margin-left: 165px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 92px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 0;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 873px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.25rem;
  width: 269px;
  margin: 30px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  width: 251px;
  margin: 0 auto;
}

.u-section-3 .u-icon-1 {
  width: 49px;
  height: 49px;
  margin: 0 auto 0 17px;
  padding: 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: -31px 0 0 80px;
}

.u-section-3 .u-icon-2 {
  width: 49px;
  height: 49px;
  margin: -610px auto 0 17px;
  padding: 0;
}

.u-section-3 .u-icon-3 {
  width: 49px;
  height: 49px;
  margin: 69px auto 0 17px;
  padding: 0;
}

.u-section-3 .u-icon-4 {
  width: 49px;
  height: 49px;
  margin: 68px auto 0 17px;
  padding: 0;
}

.u-section-3 .u-icon-5 {
  width: 49px;
  height: 49px;
  margin: 70px auto 0 17px;
  padding: 0;
}

.u-section-3 .u-icon-6 {
  width: 49px;
  height: 49px;
  margin: 100px auto 60px 17px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-icon-1 {
    margin-top: 58px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -89px;
    margin-left: 8px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-icon-1 {
    margin-top: 173px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -204px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-icon-1 {
    margin-top: 147px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -178px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-icon-1 {
    margin-top: 512px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -543px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 926px;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.25rem;
  width: 269px;
  margin: 30px 436px 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  width: 137px;
  margin: -3px 502px 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  width: 564px;
  margin: 60px auto 0;
}

.u-section-4 .u-image-1 {
  width: 350px;
  height: 200px;
  --radius: 10px;
  margin: 13px auto 0 32px;
}

.u-section-4 .u-image-2 {
  width: 350px;
  height: 200px;
  --radius: 10px;
  margin: -200px auto 0;
}

.u-section-4 .u-image-3 {
  width: 350px;
  height: 200px;
  --radius: 10px;
  margin: -200px auto 0 758px;
}

.u-section-4 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 6px 758px 0 32px;
}

.u-section-4 .u-text-5 {
  font-size: 1.25rem;
  width: 331px;
  font-weight: 400;
  margin: -22px auto 0;
}

.u-section-4 .u-text-6 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: -22px 32px 0 758px;
}

.u-section-4 .u-text-7 {
  font-size: 1.25rem;
  font-weight: 700;
  width: 564px;
  margin: 22px auto 0;
}

.u-section-4 .u-image-4 {
  width: 350px;
  height: 200px;
  --radius: 10px;
  margin: 13px auto 0 214px;
}

.u-section-4 .u-image-5 {
  width: 350px;
  height: 200px;
  --radius: 10px;
  margin: -200px auto 0 577px;
}

.u-section-4 .u-text-8 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 5px 586px 0 223px;
}

.u-section-4 .u-text-9 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: -22px 278px 0 641px;
}

.u-section-4 .u-text-10 {
  font-size: 1.25rem;
  font-weight: 700;
  width: 564px;
  margin: 23px auto 0;
}

.u-section-4 .u-text-11 {
  font-size: 1.25rem;
  width: 662px;
  margin: 18px auto 0;
}

.u-section-4 .u-text-12 {
  font-size: 1.25rem;
  font-weight: 700;
  width: 564px;
  margin: 10px auto 0;
}

.u-section-4 .u-text-13 {
  font-size: 1.25rem;
  width: 662px;
  margin: 18px auto 0;
}

.u-section-4 .u-text-14 {
  font-size: 1.25rem;
  width: 835px;
  font-weight: 700;
  text-decoration: underline !important;
  margin: 20px 153px 28px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-left: 336px;
    margin-right: 336px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 402px;
    margin-right: 402px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 43px;
  }

  .u-section-4 .u-image-1 {
    filter: brightness(0.55);
    margin-top: 30px;
    margin-left: 16px;
  }

  .u-section-4 .u-image-2 {
    margin-left: 279px;
  }

  .u-section-4 .u-image-3 {
    margin-left: 574px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 590px;
    margin-left: 0;
  }

  .u-section-4 .u-text-6 {
    margin-right: 0;
    margin-left: 590px;
  }

  .u-section-4 .u-image-4 {
    margin-left: 114px;
  }

  .u-section-4 .u-image-5 {
    margin-left: 477px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 486px;
    margin-left: 123px;
  }

  .u-section-4 .u-text-9 {
    margin-right: 178px;
    margin-left: 541px;
  }

  .u-section-4 .u-text-14 {
    margin-left: 53px;
    margin-right: 53px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-left: 226px;
    margin-right: 226px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 292px;
    margin-right: 292px;
  }

  .u-section-4 .u-image-2 {
    margin-left: 169px;
  }

  .u-section-4 .u-image-3 {
    margin-left: 354px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 370px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 370px;
  }

  .u-section-4 .u-image-4 {
    margin-left: 107px;
  }

  .u-section-4 .u-image-5 {
    margin-left: 263px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 376px;
    margin-left: 13px;
  }

  .u-section-4 .u-text-9 {
    margin-right: 68px;
    margin-left: 431px;
  }

  .u-section-4 .u-text-14 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-left: 136px;
    margin-right: 136px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 202px;
    margin-right: 202px;
  }

  .u-section-4 .u-text-3 {
    width: 540px;
  }

  .u-section-4 .u-image-2 {
    margin-left: 79px;
  }

  .u-section-4 .u-image-3 {
    margin-left: 174px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 190px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 190px;
  }

  .u-section-4 .u-text-7 {
    width: 540px;
  }

  .u-section-4 .u-image-4 {
    margin-left: auto;
  }

  .u-section-4 .u-image-5 {
    margin-left: auto;
  }

  .u-section-4 .u-text-8 {
    margin-right: 209px;
    margin-left: 0;
  }

  .u-section-4 .u-text-9 {
    margin-right: 0;
    margin-left: 319px;
  }

  .u-section-4 .u-text-10 {
    width: 540px;
  }

  .u-section-4 .u-text-11 {
    width: 540px;
  }

  .u-section-4 .u-text-12 {
    width: 540px;
  }

  .u-section-4 .u-text-13 {
    width: 540px;
  }

  .u-section-4 .u-text-14 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 896px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 36px;
    margin-right: 36px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 102px;
    margin-right: 102px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 37px;
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 194px;
    margin-top: 36px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-2 {
    width: 340px;
    height: 194px;
    margin-top: -194px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-3 {
    width: 340px;
    height: 194px;
    margin-top: -194px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-top: 9px;
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-top: -31px;
    margin-left: 0;
  }

  .u-section-4 .u-text-7 {
    width: 340px;
    margin-top: 28px;
  }

  .u-section-4 .u-image-4 {
    width: 340px;
    height: 194px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-5 {
    width: 340px;
    height: 194px;
    margin-top: -194px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-8 {
    margin-right: 9px;
  }

  .u-section-4 .u-text-9 {
    margin-left: 119px;
  }

  .u-section-4 .u-text-10 {
    width: 340px;
  }

  .u-section-4 .u-text-11 {
    width: 340px;
  }

  .u-section-4 .u-text-12 {
    width: 340px;
    margin-bottom: 44px;
  }

  .u-section-4 .u-text-13 {
    width: 340px;
  }

  .u-section-4 .u-text-14 {
    width: 340px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 462px;
}

.u-section-5 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.25rem;
  width: 269px;
  margin: 30px 436px 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  width: 169px;
  margin: 0 auto;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  width: 564px;
  margin: 30px auto 0;
}

.u-section-5 .u-text-4 {
  font-size: 1.25rem;
  margin: 21px 118px 0 188px;
}

.u-section-5 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 700;
  width: 564px;
  margin: 21px auto 0;
}

.u-section-5 .u-text-6 {
  font-size: 1.25rem;
  width: 835px;
  margin: 14px auto 0;
}

.u-section-5 .u-text-7 {
  font-size: 1.25rem;
  font-weight: 700;
  width: 564px;
  margin: 21px auto 0;
}

.u-section-5 .u-text-8 {
  font-size: 1.25rem;
  width: 835px;
  margin: 21px auto 0;
}

.u-section-5 .u-text-9 {
  font-size: 1.25rem;
  width: 835px;
  font-weight: 700;
  text-decoration: underline !important;
  margin: 20px 153px 21px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-left: 336px;
    margin-right: 336px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 88px;
    margin-right: 18px;
  }

  .u-section-5 .u-text-9 {
    margin-left: 53px;
    margin-right: 53px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-left: 226px;
    margin-right: 226px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-6 {
    width: 720px;
  }

  .u-section-5 .u-text-8 {
    width: 720px;
  }

  .u-section-5 .u-text-9 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-left: 136px;
    margin-right: 136px;
  }

  .u-section-5 .u-text-3 {
    width: 540px;
  }

  .u-section-5 .u-text-5 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-6 {
    width: 540px;
  }

  .u-section-5 .u-text-7 {
    width: 540px;
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-8 {
    width: 540px;
  }

  .u-section-5 .u-text-9 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    margin-left: 36px;
    margin-right: 36px;
  }

  .u-section-5 .u-text-3 {
    width: 340px;
  }

  .u-section-5 .u-text-5 {
    width: 340px;
  }

  .u-section-5 .u-text-6 {
    width: 340px;
  }

  .u-section-5 .u-text-7 {
    width: 340px;
  }

  .u-section-5 .u-text-8 {
    width: 340px;
  }

  .u-section-5 .u-text-9 {
    width: 340px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 524px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  width: 269px;
  text-transform: uppercase;
  margin: 31px 436px 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.25rem;
  width: 137px;
  margin: -3px 502px 0;
}

.u-section-6 .u-form-1 {
  height: 371px;
  margin-top: 30px;
  margin-bottom: 31px;
}

.u-section-6 .u-input-1 {
  --radius: 15px;
  font-weight: 700;
}

.u-section-6 .u-input-2 {
  --radius: 15px;
  font-weight: 700;
}

.u-section-6 .u-input-3 {
  --radius: 15px;
  font-weight: 700;
}

.u-section-6 .u-btn-1 {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  background-image: none;
  border-style: solid;
  font-weight: 700;
  --radius: 15px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-left: 336px;
    margin-right: 336px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 402px;
    margin-right: 402px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-left: 226px;
    margin-right: 226px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 292px;
    margin-right: 292px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-left: 136px;
    margin-right: 136px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 202px;
    margin-right: 202px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    margin-left: 36px;
    margin-right: 36px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 102px;
    margin-right: 102px;
  }
}